.btn-link {
    padding: 0.7rem;
    color: #fff;
    background-color: #7AB730;
    border-color: #7AB730;
    text-decoration: none;
    transition: all 0.5s;
}

.btn-link:hover {
    color: #fff;
    background-color: #669928;
    border-color: #5f8f25;
}

.contenedor-about h6 {
    letter-spacing: 5px;
    color: #7AB730 !important;
    font-size: 1rem;

}

.contenedor-about {
    padding-bottom: 1rem;
}